{
  "prefixes": [
    "b-",
    "📖"
  ],
  "botToken": "000",
  "version": "2.2.3",
  "versioninfo": "Added accountability commands, one word story autmoderation, added cron jobs. Cleaned up a bit behind the scenes.",
  "playing": "testing...",
  "channels": {
    "teamOne": "736284085953232997",
    "teamTwo": "736284097621524500",
    "teamThree": "736284109558513746"
  },
  "roles": {
    "teamone": "736684255245107331",
    "teamtwo": "736684285184049305",
    "teamthree": "736684292502978660"
  }
}